
body {
	width: 26%;
	height: 12vw;
	padding: 0;
	margin: 0;
	overflow: hidden;

    text-align: center;
	justify-content: center;
	align-items: center;

  margin-left: 34.5%;
  margin-top: -22%;

}

#tpz_inputs{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;

  margin-top: 40vw;

  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size:cover;
  background-position-x: center;

  background-repeat: no-repeat;
  background-size: 100% 100%;


  overflow: hidden;
  width: 100%;
  height: 100%;
  
  justify-content: center;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

#title, #description {
	position: absolute;
	
	color: #ddc076;
	font-size: 0.9vw;
	font-weight: bold;

	width: 23vw;
  height: fit-content;
	margin-left: 1.2vw;
	margin-top: 0.6vw;
	text-align: center;
  white-space: pre-wrap;
}

#description {
	color: white;
	font-size: 0.75vw;
	margin-top: 3.0vw;

  font-weight: lighter;

}

#text_input {
	position: absolute;

  font-family: "crock", crock, serif;

	color: rgb(32, 32, 32);
	font-size: 0.7vw;
  text-align: center;

  width: 5vw;
  height: 1vw;

  margin-top: 7vw;
  margin-left: 10.3vw;

  background-color: rgb(216, 213, 213);
}

#left-action-button, #right-action-button{
  position: absolute;

  color: white;
	font-size: 0.65vw;

	text-align: center;

  opacity: 0.8;

  height: 1.5vw;
  width: 5vw;

  border: solid transparent;
  float: left; 
  
  background-size: 100% 100%!important;
  background-image: url(../img/button.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  margin-top: 8.2vw;
  margin-left: 2.3vw;
  padding-top: 0.5vw;
}

#right-action-button { margin-left: 18vw; }

#left-action-button:hover, #right-action-button:hover{
  opacity: 0.6;
}

#options_select {
	position: absolute;

  font-family: "crock", crock, serif;

	color: rgb(199, 199, 199);
	font-size: 0.7vw;
  font-weight: 500;
  text-align: center;

  width: 10vw;
  height: 1vw;

    
  margin-top: 6.5vw;
  margin-left: 7.75vw;

  background-color: rgba(31, 31, 31, 0.479);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

select {
  background-color: rgb(0, 0, 0);
}

select option{
  background-color: rgb(0, 0, 0);
}

#range-selector-description-cost {
  position: absolute;
  font-family: "crock", crock, serif;
  width: 23vw;
  height: 1vw;
  color: gray;
  font-size: 0.75vw;
  text-align: center;
  font-weight: lighter;
  margin-top: 6vw;
  margin-left: 1.2vw;
}

#range-selector {
  -webkit-appearance: none;
    appearance: none;
  position: absolute;
  color: rgb(199, 199, 199);
  font-size: 0.7vw;
  font-weight: 500;
  text-align: center;
  width: 8vw;
  height: 1vw;
  margin-top: 9vw;
  margin-left: 8.75vw;

  background-color: rgba(0, 0, 0, 0.479);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  outline: none;
}
#range-selector::-webkit-slider-runnable-track {
  height: 8px;
  background: #ccc;
  /* inside color */
  border-radius: 4px;
}

/* Track styling (Firefox) */
#range-selector::-moz-range-track {
  height: 8px;
  background: #ccc;
  border-radius: 4px;
}

/* Thumb (circle) — Chrome/Edge/WebKit */
#range-selector::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #858585;
  /* circle color */
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px;
  /* centers the thumb */
}

/* Thumb (circle) — Firefox */
#range-selector::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #4CAF50;
  border-radius: 50%;
  cursor: pointer;
}

#range-selector-value {
  position: absolute;

  font-family: "crock", crock, serif;

  color: rgb(199, 199, 199);
  font-weight: bold;
  font-size: 0.7vw;
  font-weight: 500;
  text-align: center;
  width: 2vw;
  height: 1vw;
  margin-top: 8vw;
  margin-left: 11.75vw;

  background-color: rgba(0, 0, 0, 0.479);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

input[type=text] {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;

	color: rgba(255, 255, 255, 0.719);

	text-align: center;
  background-color: rgba(231, 231, 231, 0.781);
	border: 1px solid rgba(129, 129, 129, 0.253);
}
